/*********************************************************
Ce fichier est là pour insérer des images en background
*********************************************************/

#projet_img1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sss/sss07_200px.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#projet_img1:hover {
	background-image: url("../images/sss/sss07_200px.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#projet_img_ir2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/ir2/projet_IR_1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#projet_img_ir2:hover {
	background-image: url("../images/ir2/projet_IR_1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#projet_img_sss {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/sss/sss07.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#projet_img_sss:hover {
	background-image: url("../images/sss/sss07.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#projet_img_ra {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/ra/symbole.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#projet_img_ra:hover {
	background-image: url("../images/ra/symbole.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}