
/* Classes générales de css */

.ligne {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.colonne {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.colonne3-1 {
	position: absolute;
	left: 15%;
}
.colonne3-2 {
	position: absolute;
	left: center;
}
.colonne3-3 {
	position: absolute;
	right: 15%;
}

.w50 {
	width: 50%;
}
.w25 {
	width: 25%;
}
.w75 {
	width: 75%;
}
.w33 {
	width: 33%;
}
.w66 {
	width: 66%;
}
.w100 {
	width: 100%;
}
.h100 {
	height: 100%;
}

.mgd1 {
	margin-right: 1em;
	margin-left: 1em;
}
.mgd2 {
	margin-right: 2em;
	margin-left: 2em;
}
.mgd3 {
	margin-right: 3em;
	margin-left: 3em;
}
.mg1 {
	margin-left: 1em;
}
.mg2 {
	margin-left: 2em;
}
.mg3 {
	margin-left: 3em;
}
.md1 {
	margin-right: 1em;
}
.md2 {
	margin-right: 2em;
}
.md3 {
	margin-right: 3em;
}

.centerText {
	text-align: center;
}
.justifyText {
	text-align: justify;
}
.volatileText {
	color: white;
}

.size300-200 {
	display: inline-block;
	width: 300px;
	height: 200px;
	transition: height 800ms ease;
	margin: 1em;
}
.size300-200:hover {
	height: 300px;
}

.img_projet {
	display: inline-block;
	width: 300px;
	height: 200px;
	transition: height 800ms ease;
}

.img_projet:hover {
	height: 300px;
}
