
/* POUR DU RESPONSIVE !!!
@media only screen and (max-width:620px) {
  .menu, .main, .right {
    width:100%;
  }
} */

/* TABLETTE ET SMARTPHONES */
@media all and (max-width:980px) {
	header div #header_title {
		font-size: 375%;
	}

	header div #header_sub_title {
		font-size: 150%;
	}

	#nav_id {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	nav ul li {
		width: 100%;
		text-align: center;
	}

	nav {
		position: unset;
	}

	.resp_extend {
		width: 90%;
	}

	.resp_colone{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* SMARTPHONES */
@media all and (max-width:500px) {
	header div #header_title {
		font-size: 250%;
	}

	header div #header_sub_title {
		font-size: 100%;
	}

	.resp_small_extend {
		width: 90%;
	}

	section {
		padding: 1em 2em 1em;
	}

	.resp_small_colone {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.resp_input {
		width: 90%;
	}
}
